doctype html
html
  head
    title Employee App
    link(rel="stylesheet", href="/style.css")
  body
    header
      h1 Employee Management
      nav
     
        a(href="/") Home
        a(href="/new") Add Employee
    block content

    //-  id: String,
//-   name: String,
//-   email: String,
//-   phone: String,
//-   gender: String,
//-   dept: String,
//-   location: String